@font-face {
  font-family: "Degular";
  src: url("/fonts/Degular-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
h1 {
  color: $red-900;
}
p {
  color: $red-900;
}
a {
  color: $white;
  text-decoration: none;
}
