@import "sass/reset";
@import "sass/colors";
@import "sass/typography";
body {
  font-family: "Degular";
}
img {
  width: 100%;
}

.hero {
  height: 400px; // boxens höjd
  position: relative; // så hero-content kan ligga ovanpå

  .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/img_desktop.jpg");
    background-size: cover;
    background-position: center;
  }

  .hero-content {
    position: relative;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // placerar innehållet högst upp
    align-items: flex-start; // placerar innehållet till vänster
    height: 100%;
    padding: 2rem;

    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    a {
      padding: 0.625rem;
      font-size: 0.85rem;
      background-color: $red-900;
    }
  }
}

// Desktop
@media (min-width: 768px) {
  .hero {
    height: 800px;

    .hero-img {
      background-image: url("/img/img_desktop.jpg");
    }

    .hero-content {
      max-width: 838px;
      h1 {
        font-size: 3.75rem;
      }
      p {
        font-size: 1.25rem;
      }
      a {
        font-size: 1.1rem;
        padding: 0.75rem 1.5rem;
      }
    }
  }
}
